<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
     
    <machineKey validationKey="D5D51AB4A037322348CFFAE52FF14A7FE956CCCC452FD4999C2A1746C0CE9CA94AE46CA2AEF91ABA5860E5207D2B3362A5A9A6463AAFE9FDA8183E32CD60848E" decryptionKey="F8C7386D34C09CFEA3EAD3E262B0F0B0823821FF5AA5D7CB71911C506CF846BF" validation="SHA1" decryption="AES"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>

    <add name="SConStr" connectionString="Data Source=DESKTOP-U261AV3\SQLEXPRESS;Initial Catalog=thmindsc_e_shop;Integrated Security=True" />

    <!--<add name="SConStr" connectionString="Data Source=DESKTOP-U261AV3\SQLEXPRESS;Initial Catalog=eshop;Integrated Security=True" />-->

    
    <!--<add name="SConStr" connectionString="Data Source=103.83.81.7;Initial Catalog=thmindsc_e_shop;Integrated Security=False;User ID=thmindsc_4thminds;Password=Bond@008" />-->
    <!--<add name="SConStr" connectionString="User Id=sa;Password=bluej;Database=EShop_Demo;Data Source=JACK\SQLEXPRESS" providerName="SqlOledb"/>-->
    
  <!-- <add name="SConStr" connectionString="User Id=sa;Password=12qwaszx;Database=EShop_Demo;Data Source=JAMES" providerName="SqlOledb"/>
  <add name="SConStr" connectionString="User Id=sa;Password=bluej;Database=EShop_DemoTest;Data Source=JACK\SQLEXPRESS" providerName="SqlOledb"/>-->
    <add name="tempdbConnectionString1" connectionString="Data Source=JACK\SQLEXPRESS;Initial Catalog=tempdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>