.columngroup {
    float: left;
    width: 33.3%;
}
.columngroup.users.inner{
    background: #e91e63;
}
a:focus, a:hover {
    color: #23527c;
    cursor: pointer;
}
span.dispatch{
    background: #022343;
    padding: 7px;
    border-radius: 4px;
}
.columngroup .inner {
  
    position: relative;
    padding: 20px 20px 0;
    margin: 12px;
    border-radius: 2px;
    /*box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17);*/
}
a.columngroup.totalUser:hover,a.columngroup.procedure:hover,a.columngroup.condition:hover {
    color: white;
    text-decoration: none;
}
th {
    color: white !important;
}
table thead {
    background: rgba(140, 145, 146, 0.8);
}
.paginbutton{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
}
.columngroup figure {
    font-size: 7em;
    margin: 0;
    position: absolute;
    right: 50px;
    top: 0;
    opacity: 0.4;
    color: #fff;
}
.columngroup h2 {
    margin: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}
.totalUser{
   background: rgba(33, 153, 241, 0.6392156862745098);
    height: 173px;
    color: white;
    margin-top: 12px;
    border-radius: 2px;
}
.totalpayment{
    background: rgba(33, 153, 241, 0.6392156862745098);
    height: 173px;
    color: white;
}
.totaltarnsaction{
    background: rgba(33, 153, 241, 0.6392156862745098);
    height: 173px;
    color: white;
}
g.highcharts-button.highcharts-contextbutton.highcharts-button-normal {
    display: none !important;
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.loader{
top: 27%;
    left: 39%;
    position: absolute;
    font-size: 78px;
}